@font-face {
  font-family: 'AbelPro-Regular';
  src: url('AbelPro-Regular.eot');
  src: url('AbelPro-Regular.woff2') format('woff2'),
       url('AbelPro-Regular.woff') format('woff'),
       url('AbelPro-Regular.ttf') format('truetype'),
       url('AbelPro-Regular.svg#AbelPro-Regular') format('svg'),
       url('AbelPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

